commentsContainer {
    border-left: 3pt solid pink;
    background-color: #FFFF0A;
    font-family: 'roboto', arial;
    /*Shouldn't need to be done with the proper 2X shadow dom implementation*/
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#containerHeader {
    background-color: beige;
    color: blueviolet;
}

.commentBox {
    background-color: darkgreen;
    width: 100%;
}

.commentTextArea {
    resize: none;
    width: 100%;
}