commentsContainer {
    background-color: none;
    font-family: 'roboto', arial;
    height: 100%;
    margin: auto;
    min-height: 100vh;
    position: absolute;
    right: -320 px;
    top: 0px;
    width: 350px;
    z-index: 9001;
}

.commentBox {
    background-color: rgb(53, 53, 53);
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    padding-left: 30px;
    transition: all 0.25s ease-in-out;
        -webkit-transition: all 0.25s ease-in-out; /** Chrome & Safari **/
        -moz-transition: all 0.25s ease-in-out; /** Firefox **/
        -o-transition: all 0.25s ease-in-out; /** Opera **/
}

.commentBox.slideOut, .commentBox:hover {
    transform: translate(-365px,0);
    -webkit-transform: translate(-365px,0); /** Chrome & Safari **/
    -o-transform: translate(-365px,0); /** Opera **/
    -moz-transform: translate(-365px,0); /** Firefox **/
}

.commentBox.default, .annotatedElem {
    background-color: #f3936ecf;
}

.commentTextArea {
    flex: 4;
    min-height: 10em;
    resize: none;
}

/* Revisit dark mode at a later date*/
/* .dark.commentTextArea {
    background-color: #353535;
    color: white;
} */

.controls {
    flex: 1;
    height: 100%;
}

.hidden {
    display: none;
}

#containerOptions {
    margin: auto;
    width: 80%;
}

#containerOptions > select, #containerOptions > button {
    display: block;
    margin: auto;
}